html {
    background-color: #6ae1e9;
  }
  
  .jumbotron {
    background-image: url(../images/bckgrnd.jpg);
    background-size: cover;
    background-position: center;
  }
  
  h1, li {
    color: #eff3f5 !important;
    font-weight: bold !important;
  }
  
  lh, li {
    border-radius: 5px;
  }
  
  .header {
    background-color: #6ae1e9  ;
    border-radius: 50px;
  }
  
  lh {
    color: #ca1a03;
    font-size: 30px !important;
    font-weight: bold !important;
    background-color: #6ae1e9;
  }
  
  li {
    background-color: #6ae1e9 !important;
  }